* {
	box-sizing: border-box;
}



header {
	text-align: center;
	width: 100%;
}


body{
  background: url(https://images.unsplash.com/35/hKViPxgDRGuiGns6wv5S_IMG_5317.jpeg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=921adaafeb6478253d83aeaa0eb83f77&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}





.getting-started {
	width: 80%;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	padding: 10px;
	padding-bottom: 20px;
	line-height: 1.5;
	text-align: center;
}

.spotifyConnectButton {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

}